@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

*{
  padding:0;
  margin:0;
  scroll-behavior: smooth;
}

body{
  font-family: Roboto;
  font-weight: 500;
  background-color: rgb(23 23 23);
  color: rgb(226 232 240);
}

